div {
	height: 50px;
	width: 50px;
	background-color: aqua;
}
@media (width: 600px) {
	div {
		background-color: red;
	}
}
@media (min-width: 800px) {
	div {
		background-color: green;
	}
}
@media (max-width: 250px) {
	div {
		background-color: pink;
	}
}
@media (min-width: 350px) and (max-width: 450px) {
	div {
		background-color: navy;
	}
}
